---
import Layout from "@/layouts/LayoutPage.astro";
import Section from "@/components/Section.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import SectionBody from "@/components/SectionBody.astro";
import TextWithIcon from "@/components/TextWithIcon.astro";
import { Extractor } from "@/scripts/honor-md";
import type { HonorInfo } from "@/scripts/honor-md";
import siteConfig, { loadConfigIfUrlString } from "@/site-config";

const conf = siteConfig.page.honor || [];
let sectionData = await loadConfigIfUrlString<HonorInfo[]>(conf, f => {
    const extractor = new Extractor();
    return extractor.parse(f);
});
---

<Layout title="V&N Team" useBg={true} active="Honor" padTopNav={true}>
    <Section data-section="honor">
        {
            sectionData.map(info => (
                <>
                    <SectionTitle anchorPrefix="y" text={info.title} withIcon={true} />
                    <SectionBody>
                        <TextWithIcon data={info.content} treat="html" />
                    </SectionBody>
                </>
            ))
        }
    </Section>
</Layout>

<style lang="scss" is:global>
    [data-section="honor"] a {
        color: var(--font-color);
        &:hover {
            color: var(--font-color-2);
        }
    }
</style>
