---
import Layout, { ScrollSection } from "@/layouts/LayoutScroll.astro";
import WindowLayoutPage from "@/components/helpers/WindowLayoutPage.astro";
import Page from "@/components/Page.astro";
import LogoAnimate from "@/components/LogoAnimate.astro";
import MarkdownWithIcon from "@/components/MarkdownWithIcon.astro";

import { parsedSiteConfig as psc } from "@/site-config";

const doc_title = await psc.title;
const conf = await psc.page.index;
---

<Layout title={doc_title} useBg={true} autoHideNav={false} active="home">
    <ScrollSection padNavTop={true} data-window-scroll="index">
        <div class="container">
            <div class="logo-container">
                <LogoAnimate title={conf.title} description={conf.description} />
            </div>
        </div>
    </ScrollSection>
    <ScrollSection padNavTop={true} data-window-scroll="about">
        <div class="container">
            <WindowLayoutPage data-window-win>
                <Page
                    title={conf.about.title}
                    subtitle={conf.about.subtitle}
                    anchor={true}
                    mdOptions={{ externalLink: true }}
                >
                    <span data-window-win-content>
                        <MarkdownWithIcon md={conf.about.content} options={{ externalLink: true }} />
                    </span>
                </Page>
            </WindowLayoutPage>
        </div>
    </ScrollSection>

    <style lang="scss">
        @import "@/styles/defines.scss";
        @mixin no-subtitle-content {
            font-size: 1.05em;
            line-height: 1.75;
        }
        [data-window-scroll="index"] {
            .container {
                $padding-top: 3rem;
                $padding-bottom: 5rem;
                padding: $padding-top 0 $padding-bottom;
                min-height: calc(100vh - $nav-height - $nav-border-width);
                height: 100%;
                box-sizing: border-box;
                display: grid;
                grid-template-rows: 2fr auto 3fr;
                // place-items: center;
            }
            .logo-container {
                grid-row: 2;
                display: block;
                padding: 1rem 1rem 1.5rem;
                box-sizing: border-box;
                width: max-content;
                margin: 0 auto;
            }
        }
        [data-window-scroll="about"] {
            .container {
                min-height: calc(100vh - $nav-height - $nav-border-width);
                height: 100%;
                box-sizing: border-box;
                padding-bottom: calc($nav-height + $nav-border-width + 2rem);
                display: grid;
                align-items: center;
                grid-template-rows: 2fr auto 3fr;
                [data-window-win] {
                    grid-row: 2;
                    padding: 3.5rem 0;
                }
                [data-window-win-content] {
                    @include no-subtitle-content;
                }
            }
        }
    </style>
</Layout>
