---
import Layout from "@/layouts/LayoutPage.astro";
import Page from "@/components/Page.astro";
import PersonInfoCard from "@/components/PersonInfoCard.astro";

import { parsedSiteConfig as psc } from "@/site-config";

const conf = await psc.page.members;
const doc_title = [conf.title, await psc.title].filter(Boolean).join(" | ");
---

<Layout title={doc_title} useBg={true} autoHideNav={true} active="members" padTopNav={true}>
    <Page title={conf.title} subtitle={conf.subtitle} anchor={true} mdOptions={{ externalLink: true }}>
        <div class="member-box">
            {
                conf.content.map(m => (
                    <PersonInfoCard
                        class="member-card"
                        avatar={m.avatar}
                        name={m.name}
                        tags={typeof m.tags === "undefined" ? m.tags : Array.isArray(m.tags) ? m.tags : [m.tags]}
                        description={m.description}
                        link={m.link}
                        hideLinkTag={false}
                        hoverable={true}
                        cardClickable={false}
                    />
                ))
            }
        </div>
    </Page>
</Layout>

<style lang="scss">
    .member-box {
        $col-max-width: 20em;
        margin: 2.5em 0;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(min($col-max-width, 100%), 1fr));
        gap: 1.5em 1.75em;
        .member-card {
            min-width: fit-content;
        }
    }
</style>
