---
import FooterElement from "./helpers/FooterElement.astro";
import type { MarkdownOptions } from "@/scripts/markdown";

import siteConfig from "@/site-config";

const MdOpts: Partial<MarkdownOptions> = {
    externalLink: true
};

const conf = siteConfig.footer;
---

<div class="footer">
    <div class="footer-box">
        <div class="footer-line">
            <FooterElement md={conf.copyright} options={MdOpts} />
        </div>
        <div class="footer-line">
            <FooterElement md={conf.icp} options={MdOpts} />
            <FooterElement md={conf.gongan} options={MdOpts} />
        </div>
    </div>
</div>

<style lang="scss">
    .footer {
        display: block;
        // position: absolute;
        // top: 100vh;
        font-size: .95rem;
        width: 100%;
        background-color: var(--footer-background-color);
        .footer-box {
            margin: 0 auto;
            padding: 1.3rem 1rem;
            max-width: 100%;
            text-align: center;
            .footer-line {
                margin: 0.1rem auto;
                box-sizing: border-box;
                width: max-content;
                text-align: justify;
                text-align-last: justify;
                user-select: none;
            }
        }
    }
</style>

<style is:global lang="scss">
    .footer {
        a:not([class^="link-"]) {
            color: var(--font-color);
            &:hover {
                color: var(--font-color-2);
            }
        }
    }
</style>
